nova/*
!nova/nova

nova/nova/*
!nova/nova/virt

nova/nova/virt/*
!nova/nova/virt/ec2
!nova/nova/virt/aws
!nova/nova/virt/vtep
!nova/nova/virt/vcloudapi


cinder/*
!cinder/cinder

cinder/cinder/*
!cinder/cinder/volume

cinder/cinder/volume/*
!cinder/cinder/volume/drivers

cinder/cinder/volume/drivers/*
!cinder/cinder/volume/drivers/aws
!cinder/cinder/volume/drivers/ec2
!cinder/cinder/volume/drivers/vcloud
!cinder/cinder/volume/drivers/vmware